<div class="clearfix">
  <div style="border-bottom: 1px solid; " class="clearfix">
    <h4 class="pull-left">Exporter</h4>
    <div class="pull-right">
      <%=link_to_function("&times;".html_safe, "wfExporter.hide()", :title=>"Close", :class => "close")%>
    </div>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>
<div class="well clearfix">
  <label class="checkbox">
    <input type="checkbox" id="wf_fld_all" onClick="wfExporter.selectAllFields(this);">
    Select All
  </label>
  <% @wf_filter.model_class.columns.each_with_index do |col, index| %>
    <label class="checkbox">
      <input type="checkbox" id="wf_fld_chk_<%=index%>" onClick="wfExporter.selectField(this);" style="width:20px;">
      <input type="hidden" id="wf_fld_name_<%=index%>" value="<%=col.name%>">
      <%=col.name.humanize %> ( <%=col.type %> )
    </label>
  <% end %>
  <div style="width: 100%; ">
  Format: <%= select_tag("wf_export_format_selector", options_for_select(@wf_filter.export_formats,  @wf_filter.format), :style => "width: 100%;" ) %>
  </div>

  <div class="center">
      <%=link_to_function("Export".html_safe, "wfExporter.exportFilter()", :class => "btn btn-primary") %>
      <%=link_to_function("Cancel".html_safe, "wfExporter.hide()", :class => "btn btn-warning") %>
  </div>
</div>
