<% if wf_filter.errors[index] %>
  <div class="alert alert-error">
    <%= wf_filter.errors[index] %>  
  </div>
<% end %>
<div class="clearfix">
  <div class="pull-left span4">
    <%= select_tag "wf_c#{index}", options_for_select(wf_filter.condition_options, condition.key.to_s), {:class=>"span8", :onChange=>"wfFilter.updateConditionAt('#{index}')"} %>
    <%= select_tag "wf_o#{index}", options_for_select(wf_filter.operator_options_for(condition.key), condition.operator.to_s), {:class=>"span4", :onChange=>"wfFilter.updateConditionAt('#{index}')"} %>
  </div>
  <div class="pull-left span6">
    <%= render :partial => "/will_filter/filter/containers/#{condition.container.template_name}", :locals => {:container => condition.container, :index => index} %>
  </div>
  <div class="btn-group pull-right">
    <%=link_to_function("-".html_safe, "wfFilter.removeConditionAt('#{index}')", :class => "btn") %>
    <%=link_to_function("+".html_safe, "wfFilter.addConditionAfter('#{index}')", :class => "btn") %>
  </div>
</div>
<div class="clearfix">&nbsp;</div>
